---
type Translations = typeof import('../../i18n/es').default;
type HeroContent = Translations['about-us']['hero'];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
---

<section
  class="w-full h-screen sm:h-[70vh] lg:h-screen flex flex-col sm:flex-row justify-center items-center relative"
>
  <img
    src="/images/hero-about.webp"
    alt="About Us Arcos Remodeling"
    width="1600"
    height="900"
    class="absolute w-full h-full object-cover object-right lg:object-center top-0 left-0 -z-10 inset-0 hidden sm:block"
  />
  <div class="w-full h-[75%] relative overflow-hidden sm:hidden">
    <img
      src="/images/hero-about.webp"
      alt="About Us Arcos Remodeling"
      width="1600"
      height="900"
      class="absolute w-full h-full object-cover object-right top-0 left-0 -z-10 inset-0"
    />
  </div>
  <div
    class="w-full max-w-screen xl:max-w-7xl px-0 sm:px-5 xl:px-0 flex justify-center sm:justify-start items-center sm:items-end h-[25%] sm:h-full"
  >
    <div class="flex justify-center items-center sm:items-start bg-primary p-0 sm:p-14 sm:pb-40 w-full sm:w-auto h-full sm:h-auto fade-up active" >
      <h1
        class="text-white font-title text-[32px] sm:text-[48px] font-extrabold leading-[117%]"
        set:html={content.title}
      />
    </div>
  </div>
</section>
