---
import Layout from '../../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import en from '../../i18n/en';

// Root 404 (non-localized). Useful for hosts that request /nonexistent
const t = en;
const icons = [
  {
    name: 'facebook',
    href: '#',
  },
  {
    name: 'instagram',
    href: '#',
  },
  {
    name: 'tiktok',
    href: '#',
  },
];
---

<Layout lang={'en'} t={t}>
  <section class="w-screen h-screen flex flex-col justify-center items-center">
    <div class="h-[65%] w-full flex justify-center items-center">
      <div
        class="flex-1 min-w-0 bg-[#003151] flex flex-col justify-center items-center h-full gap-8 md:gap-10 px-3"
      >
        <h1
          class="font-title text-[32px] lg:text-[50px] font-bold leading-[116%] text-white text-center rap-break-word w-full px-4 md:px-0"
        >
          We’re remodeling our website <br/> <span
            class="text-secondary-2 font-normal"
            >just like we remodel homes.</span
          >
        </h1>
        <div class="flex justify-center items-center gap-6 w-full">
          {
            icons.map((i) => (
              <a
                href={i.href}
                class="h-10 w-10 md:h-15 md:w-15 rounded-full flex items-center justify-center bg-white shrink-0"
              >
                <Icon name={i.name} class={'w-6 h-6  text-[#002F50]'} />
              </a>
            ))
          }
        </div>
      </div>
      <img
        src="/images/construction-1.webp"
        alt="Construction Image"
        class="h-full w-auto shrink-0"
        width="1500"
        height="1500"
      />
    </div>
    <div class="h-[35%] w-full flex items-center">
      <img
        src="/images/construction-2.webp"
        alt="Construction Image 2"
        class="w-[60%] h-full lg:h-full lg:w-auto shrink-0 "
        width="1800"
        height="608"
      />
      <div
        class="w-[40%] lg:w-auto lg:flex-1 min-w-0 h-full flex justify-center items-center bg-secondary px-4 md:px-8 gap-6"
      >
        <img
          src="/images/logo-1.svg"
          alt="Logo 1"
          width="160"
          height="146"
          class="w-20 xl:w-40 h-auto"
        />
        <img
          src="/images/logo-2.svg"
          alt="Logo 2"
          width="265"
          height="98.8"
          class="w-40 xl:w-66.25 h-auto"
        />
      </div>
    </div>
  </section>
</Layout>
