---
import Button from '../../components/Button.astro';
import ServicesContent from '../ServicesContent.astro';

type Translations = typeof import('../../i18n/es').default;
type ServicesContent = Translations['main']['services'];
interface Props {
  content: ServicesContent;
}
const { content } = Astro.props as Props;
const currentPath = Astro.url.pathname;
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---

<section
  class="w-full max-w-screen md:max-w-7xl flex flex-col justify-center items-center px-5 xl:px-0 gap-10 md:gap-14 pt-14 lg:pt-30"
>
  <ServicesContent content={content} />
</section>
